@import "compass/reset";

$display-tablet: "only screen and (max-width : 795px)";
$display-phone-lg: "only screen and (max-width : 445px)";
$white: #fff;
$black: #000;
$offBlack: #172125;
$yellow: #fff000;
$pink: #ff0065;


*{-moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

html {
	font-size: 62.5%; // 62.5% solution makes calculation easier (as the font sizes in px are 10 times their rem values)
}

body{
	 background-color: $yellow;
	 font: 1.4rem Verdana, Helvetica-Neue, Helvetica, "sans-serif" ;
	 font: 14px Verdana, Helvetica-Neue, Helvetica, "sans-serif" ;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

a {
	display: inline-block;
	text-align: center;
	font-size: 1.35rem;
	font-weight: 100;
	width: 100%;
	text-decoration: none;
  	transition: all 0.5s;
  	padding: 30px 20px;
	color: grey;
  	:hover{
  		background:rgba(0,0,0,0.3);
  		//color: $black; 	
  		cursor: pointer;
  	}
}

header {
	background-color: $white;
	margin-top: 30px;
	box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
	display: flex;
	//max-height: 76px;
}

.logo {
	position: relative;
	flex: 1 1 20%;
	background-color: $pink;
	display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
	display: none;
}

.nav-wrap {
	flex: 1 1 80%;
	flex-direction: column;
	display: flex;
}

.top-nav {
	display: flex;
	background-color: $black;
	flex: 1 1 100%;
}

.top-nav p {
	padding: 15px 30px 10px;
	flex: 1 1 70%;
	color: #fff;
	font-size: 1.35rem;
	font-weight: 100;
}

.top-nav ul {
	padding: 5px 0;
	flex: 1 1 30%;
	display: flex;
	justify-content: flex-end;
}

.top-nav ul li {
	position: relative;
}

.top-nav ul li:first-child::after {
	content: " / ";
    color: grey;
    position: absolute;
    top: 8px;
    right: -4px;
}

.top-nav ul li a {
	padding: 10px;
	text-transform: uppercase;
}

.prim-nav {
	padding: 5px 0;
	flex: 1 1 100%;
	background-color: $white;
}

.prim-nav ul {
	display: flex;
	justify-content: space-between;
	height: auto;
}

.prim-nav ul li:not(.social) {
	flex: 5;

}

.prim-nav ul li a {
	text-transform: uppercase;
	padding: 15px 20px;
}

.prim-nav ul li a:hover {
	background-color: $pink;
	color: $white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.logo a {
	color: $white;
	text-transform: uppercase;
}

@media #{$display-tablet}{ 
	header {
		margin-top: 0;
		flex-direction: column;
		max-height: none;
		position: relative;
	}
	
	.logo {
		margin-top: 50px;
		flex: 1 1 100%;
		position: relative;
	}
	
	.menu {
		display: block;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		color: $white;
	}

	.top-nav {
		padding: 10px 0;
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	}

	.top-nav p {
		display: none;
	}

	.top-nav ul {
		flex: 1 1 100%;
		justify-content: center;
	}
	
	.top-nav a {
		color: $white;
	}
	
	.prim-nav {
		max-height: 0;
		padding: 0;
    	transition: max-height 0.25s ease-out;
    	overflow-y: hidden;
	}

	.prim-nav.open {
		max-height: 500px;
    	transition: max-height 0.25s ease-in;
	}
	
	/*.prim-nav{
		display: block;
	}*/

	.prim-nav ul {
		flex-wrap: wrap;
	}

	.prim-nav ul li:not(.social){
		flex: 1 1 50%; /*grow shrink basis(width)*/
		text-align: center;
	}

	.social {
		flex: 1 1 33.333%;
	}
}

@media #{$display-phone-lg} {

	.prim-nav ul li:not(.social){
		flex: 1 1 100%; /*grow shrink basis(width)*/
		text-align: center;
	}



}


@media (-webkit-min-device-pixel-ratio: 2), /* Webkit-based browsers */
       (min--moz-device-pixel-ratio: 2),    /* Older Firefox browsers (prior to Firefox 16) */
       (min-resolution: 2dppx),             /* The standard way */
       (min-resolution: 192dpi)  {
	       .logo {
		       font-size: 2rem;
	       }
	       
	       .top-nav ul li a {
		       font-size: 1.2rem;
	       }
	       
	       .prim-nav {
		       font-size: 1.65rem;
	       }
       }